{
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 80,
  "importOrder": [
    "setupDotenv",
    "^[^.]",
    "/types",
    "/controllers",
    "/models",
    "/routes",
    "/middlewares",
    "/utils",
    "/services",
    "/constants",
    "/config"
  ]
}
